jupyter
matplotlib==3.0.2
pandas==0.24.0
bleach==3.1.0
scikit-learn==0.20.2
scikit-image==0.14.2
pydot==1.4.1
sphinx==1.8.4
sphinxcontrib-napoleon==0.7
sphinx_rtd_theme==0.4.3
dill==0.2.9
pymongo==3.7.2
nltk==3.4.5
